In [1]:


import yfinance as yf
import pandas as pd
import datetime
from datetime import date
import financedatabase as fd
import streamlit as st
import numpy as np
import seaborn as sns
from pylab import rcParams
import matplotlib.pyplot as plt
from matplotlib import rc
%matplotlib inline
import statistics

In [2]:
invested_amount = 2000

In [3]:
years_maintained =11

In [4]:
if invested_amount < 5000:
    list_etf = ['^GSPC']
elif invested_amount < 10000:
    list_etf = ['^GSPC', 'GC=F']
elif invested_amount < 25000:
    list_etf = ['^GSPC', 'GC=F', '^IXIC', '^TNX']
elif invested_amount < 50000:
    list_etf = ['^GSPC', 'GC=F', '^IXIC', '^TNX', '^FTSE', '^N225', '^GDAXI', '^FCHI','^STOXX50E'] # global indexes
else:
    list_etf = ['^GSPC', 'GC=F', '^IXIC', '^TNX', '^FTSE', '^N225', '^GDAXI', '^FCHI','^STOXX50E', 'EMQQ', 'FEM'] # emergents

In [5]:
list_etf

['^GSPC']

In [6]:
# dates of historical data of actives
start = "2012-06-30"
today = date.today().strftime("%Y-%m-%d")

In [7]:
# download the historical data of each active
list_etf_data = []
for i in range(len(list_etf)):
    print(i)
    etf = yf.download(list_etf[i], start, today)
    list_etf_data.append(etf)

0
[*********************100%***********************]  1 of 1 completed

In [8]:
dict_invested_amount_by_ticker = {}
dict_money_to_ticker = {}
count = 0

# add proportion of money to each ticker of list_etf in dict, its are units of active purchased
if invested_amount < 5000: # only sp500
    investment1 = invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[0]] = investment1
    dict_money_to_ticker[list_etf[0]] = invested_amount

    
elif invested_amount < 10000: # Gold and sp
    investment1 = 0.8*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    count = count +1
    dict_invested_amount_by_ticker[list_etf[0]] = investment1
    investment2 = 0.2*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[1]] = investment2
    dict_money_to_ticker[list_etf[0]] = invested_amount*0.8
    dict_money_to_ticker[list_etf[1]] = invested_amount*0.2


elif invested_amount < 25000: # Gold, nq and sp
    investment1 = 0.4*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[0]] = investment1
    count = count +1
    
    
    investment2 = 0.2*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[1]] = investment2
    count = count +1
    
    investment3 = 0.2*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[2]] = investment3
    count = count +1
    
    investment4 = 0.2*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[3]] = investment4
    dict_money_to_ticker[list_etf[0]] = invested_amount*0.4
    dict_money_to_ticker[list_etf[1]] = invested_amount*0.2
    dict_money_to_ticker[list_etf[2]] = invested_amount*0.2
    dict_money_to_ticker[list_etf[3]] = invested_amount*0.2
    
    
elif invested_amount < 50000: # Gold, nq and sp
    investment1 = 0.2*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[0]] = investment1
    count = count +1
    
    investment2 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[1]] = investment2
    count = count +1
    
    investment3 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[2]] = investment3
    count = count +1
    
    investment4 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[3]] = investment4
    count = count +1
    
    investment5 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[4]] = investment5
    count = count +1
    
    investment6 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[5]] = investment6
    count = count +1
    
    investment7 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[6]] = investment7
    count = count +1
    
    investment8 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[7]] = investment8
    count = count +1
    
    investment9 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[8]] = investment9
    
    dict_money_to_ticker[list_etf[0]] = invested_amount*0.2
    dict_money_to_ticker[list_etf[1]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[2]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[3]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[4]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[5]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[6]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[7]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[8]] = invested_amount*0.1

    
else: # Gold, nq and sp
    investment1 = 0.2*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[0]] = investment1
    count = count +1
    
    investment2 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[1]] = investment2
    count = count +1
    
    investment3 = 0.1*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[2]] = investment3
    count = count +1
    
    investment4 = 0.08*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[3]] = investment4
    count = count +1
    
    investment5 = 0.08*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[4]] = investment5
    count = count +1
    
    investment6 = 0.08*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[5]] = investment6
    count = count +1
    
    investment7 = 0.08*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[6]] = investment7
    count = count +1
    
    investment8 = 0.08*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[7]] = investment8
    count = count +1
    
    investment9 = 0.08*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[8]] = investment9
    count = count +1
    
    investment10 = 0.06*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[9]] = investment10
    count = count +1
    
    investment11 = 0.06*invested_amount/list_etf_data[count]['Adj Close'].iloc[-1]
    dict_invested_amount_by_ticker[list_etf[10]] = investment11
    
    dict_money_to_ticker[list_etf[0]] = invested_amount*0.2
    dict_money_to_ticker[list_etf[1]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[2]] = invested_amount*0.1
    dict_money_to_ticker[list_etf[3]] = invested_amount*0.08
    dict_money_to_ticker[list_etf[4]] = invested_amount*0.08
    dict_money_to_ticker[list_etf[5]] = invested_amount*0.08
    dict_money_to_ticker[list_etf[6]] = invested_amount*0.08
    dict_money_to_ticker[list_etf[7]] = invested_amount*0.08
    dict_money_to_ticker[list_etf[8]] = invested_amount*0.08
    dict_money_to_ticker[list_etf[9]] = invested_amount*0.06
    dict_money_to_ticker[list_etf[10]] = invested_amount*0.06

In [9]:
dict_invested_amount_by_ticker

{'^GSPC': 0.45465393132461246}

In [10]:
# Preprocessing the data, create function for add more features
def add_features(df):
    df = df.reset_index()
    df['HL_pct'] = (df['High'] - df['Low']) / df['Low']
    df['pct_change'] = (df['Close'] - df['Open']) / df['Open']
    df['Date'] = pd.to_datetime(df['Date'])
    df['year'] = df['Date'].dt.year
    df['month'] = df['Date'].dt.month
    df['day'] = df['Date'].dt.day
    df['day_of_week'] = df['Date'].dt.dayofweek
    # Mapping day of week to actual day names
    day_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    df['day_of_week'] = df['day_of_week'].map(lambda x: day_names[x])
    return df

In [11]:
# use the function each active, return a list of df with new features
for i in range(len(list_etf_data)):
    list_etf_data[i] = add_features(list_etf_data[i])

In [12]:
type(list_etf_data)

list

In [13]:
# separate by year the data of each active, return a dict with key the active and values the df of the active by year
dict_etf_data_years = {}

for i in range(len(list_etf_data)):
    years = list_etf_data[i]['year'].unique()
    list_values = []
    for j in range(len(years)):
        x = list_etf_data[i][list_etf_data[i]['year']==years[j]]
        list_values.append(x)
        if j == len(years)-1:
            dict_etf_data_years[list_etf[i]] = list_values

In [14]:
type(dict_etf_data_years)

dict

In [15]:
dict_etf_data_years[list_etf[0]][0]

,Date,Open,High,Low,Close,Adj Close,Volume,HL_pct,pct_change,year,month,day,day_of_week
0,2012-07-02,1362.329956,1366.349976,1355.699951,1365.510010,1365.510010,3301650000,0.007856,0.002334,2012,7,2,Monday
1,2012-07-03,1365.750000,1374.810059,1363.530029,1374.020020,1374.020020,2116390000,0.008273,0.006055,2012,7,3,Tuesday
2,2012-07-05,1373.719971,1373.849976,1363.020020,1367.579956,1367.579956,3041520000,0.007946,-0.004470,2012,7,5,Thursday
3,2012-07-06,1367.089966,1367.089966,1348.030029,1354.680054,1354.680054,2745140000,0.014139,-0.009078,2012,7,6,Friday
4,2012-07-09,1354.660034,1354.869995,1346.650024,1352.459961,1352.459961,2904860000,0.006104,-0.001624,2012,7,9,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2012-12-24,1430.150024,1430.150024,1424.660034,1426.660034,1426.660034,1248960000,0.003854,-0.002440,2012,12,24,Monday
121,2012-12-26,1426.660034,1429.420044,1416.430054,1419.829956,1419.829956,2285030000,0.009171,-0.004787,2012,12,26,Wednesday
122,2012-12-27,1419.829956,1422.800049,1401.800049,1418.099976,1418.099976,2830180000,0.014981,-0.001218,2012,12,27,Thursday
123,2012-12-28,1418.099976,1418.099976,1401.579956,1402.430054,1402.430054,2426680000,0.011787,-0.011050,2012,12,28,Friday
124,2012-12-31,1402.430054,1426.739990,1398.109985,1426.189941,1426.189941,3204330000,0.020478,0.016942,2012,12,31,Monday

In [16]:
# return a dict of percentage of each years of each active

pct_each_year_by_active = {}
for i in range(len(dict_etf_data_years)): # dict
    list_values = []
    for j in range(len(dict_etf_data_years[list_etf[i]])):  # keys
            x = float(dict_etf_data_years[list_etf[i]][j][-1:]['Close'])/float(dict_etf_data_years[list_etf[i]][j][:1]['Close'])
            list_values.append(x)
            if j == len(dict_etf_data_years[list_etf[i]])-1:
                pct_each_year_by_active[list_etf[i]] = list_values

In [17]:
pct_each_year_by_active

{'^GSPC': [1.044437559012138,
  1.2639049861249592,
  1.1238659397451154,
  0.9930716110660163,
  1.112373694565607,
  1.1841502747815977,
  0.9299060553857902,
  1.287147959023383,
  1.1529290654169608,
  1.2879305801834058,
  0.8004694933655558,
  1.1503110029656511]}

In [18]:
# return a dict of mean of percentage of each active by year
pct_mean_active = {}

for i in range(len(pct_each_year_by_active)):
    list_values = []
    for j in range(len(pct_each_year_by_active[list_etf[i]])):
        x = pct_each_year_by_active[list_etf[i]][j]
        list_values.append(x)
        if j == len(pct_each_year_by_active[list_etf[i]])-1:
            pct_mean_active[list_etf[i]] = statistics.mean(list_values)

In [19]:
pct_mean_active

{'^GSPC': 1.110874851803015}

In [20]:
# values of investment year to year and final investment, NO MONEY!!

dict_final_result_active_value = {}
dict_futures_values_actives = {}
for i in range(len(list_etf)):
    x = list_etf_data[i]['Adj Close'].iloc[-1]
    list_values = []
    for j in range(years_maintained):
        x = x*pct_mean_active[list_etf[i]]
        list_values.append(x)
        dict_final_result_active_value[list_etf[i]] = x
        if j == years_maintained-1:
            dict_futures_values_actives[list_etf[i]] = list_values

In [21]:
dict_final_result_active_value

{'^GSPC': 13985.098597502334}

In [22]:
dict_futures_values_actives

{'^GSPC': [4886.683146306617,
  5428.493415961654,
  6030.376818970045,
  6698.993955089685,
  7441.743917089547,
  8266.846171052837,
  9183.431515146642,
  10201.643123431662,
  11332.748792889395,
  12589.265635821803,
  13985.098597502334]}

In [23]:
final_invested_amount ={}

for i in range(len(dict_invested_amount_by_ticker)):
    final_invested_amount[list_etf[i]] = dict_invested_amount_by_ticker[list_etf[i]]*dict_final_result_active_value[list_etf[i]]

In [24]:
dict_final_result_active_value

{'^GSPC': 13985.098597502334}

In [25]:
dict_invested_amount_by_ticker

{'^GSPC': 0.45465393132461246}

In [26]:
final_invested_amount

{'^GSPC': 6358.38005731676}

In [27]:
final_full_return = []
for i in range(len(list_etf)):
    final_full_return.append(final_invested_amount[list_etf[i]])
    
final_full_return = sum(final_full_return)

In [28]:
final_full_return

6358.38005731676

In [29]:
df_final = pd.DataFrame(dict_futures_values_actives)
df_final

           ^GSPC
0    4886.683146
1    5428.493416
2    6030.376819
3    6698.993955
4    7441.743917
5    8266.846171
6    9183.431515
7   10201.643123
8   11332.748793
9   12589.265636
10  13985.098598

In [30]:
# return a dict of mean of standard deviation of each active of all years

dict_etf_data_mean_std = {}
for i in range(len(dict_etf_data_years)):
    list_values = []
    for j in range(len(dict_etf_data_years[list_etf[i]])):  # keys
        x = dict_etf_data_years[list_etf[i]][j].describe()['pct_change'].loc['std']
        if x == np.float64('Nan'):
            print(x == np.float64('Nan'))
            x = dict_etf_data_years[list_etf[i]][j].describe()['pct_change'].iloc[6]
        x = np.mean(x)
        list_values.append(x)
        if j == len(dict_etf_data_years[list_etf[i]])-1:
            dict_etf_data_mean_std[list_etf[i]] = x

In [31]:
dict_etf_data_mean_std

{'^GSPC': 0.007796505151007601}

In [32]:
# create functions for add standard deviation to the data
def standard_up(price, st):
    x = price*st
    x = price + x
    return x

def standard_down(price, st):
    x = price*st
    x = price - x
    return x

In [33]:
# string for add with the name of the active to the column
string_std = '_std'
string_std_u = '_std_u' # % up
string_std_d = '_std_d' # down

In [34]:
for i in range(len(list_etf)):
    df_final[f'{list_etf[i]}{string_std}'] = dict_etf_data_mean_std[list_etf[i]]

In [35]:
df_final

           ^GSPC  ^GSPC_std
0    4886.683146   0.007797
1    5428.493416   0.007797
2    6030.376819   0.007797
3    6698.993955   0.007797
4    7441.743917   0.007797
5    8266.846171   0.007797
6    9183.431515   0.007797
7   10201.643123   0.007797
8   11332.748793   0.007797
9   12589.265636   0.007797
10  13985.098598   0.007797

In [36]:
df_final[f'{list_etf[0]}{string_std}']

0     0.007797
1     0.007797
2     0.007797
3     0.007797
4     0.007797
5     0.007797
6     0.007797
7     0.007797
8     0.007797
9     0.007797
10    0.007797
Name: ^GSPC_std, dtype: float64

In [37]:
df_final[f'{list_etf[0]}{string_std}'][1]

0.007796505151007601

In [38]:
len(df_final[f'{list_etf[0]}{string_std}'])

11

In [39]:
for i in range(len(df_final[f'{list_etf[0]}{string_std}'])):
    for j in range(len(list_etf)):
        df_final[f'{list_etf[j]}{string_std}'][i] = df_final[f'{list_etf[j]}{string_std}'][i]+df_final[f'{list_etf[j]}{string_std}'][i]*i

In [40]:
df_final

           ^GSPC  ^GSPC_std
0    4886.683146   0.007797
1    5428.493416   0.015593
2    6030.376819   0.023390
3    6698.993955   0.031186
4    7441.743917   0.038983
5    8266.846171   0.046779
6    9183.431515   0.054576
7   10201.643123   0.062372
8   11332.748793   0.070169
9   12589.265636   0.077965
10  13985.098598   0.085762

In [41]:
# add columns of standard deviation
for i in range(len(list_etf)):
    df_final[f'{list_etf[i]}{string_std_u}'] = df_final.apply(lambda x: standard_up(x[list_etf[i]],
                                                                                    x[f'{list_etf[i]}{string_std}']),
                                                           axis=1)
    df_final[f'{list_etf[i]}{string_std_d}'] = df_final.apply(lambda x: standard_down(x[list_etf[i]],
                                                                                      x[f'{list_etf[i]}{string_std}']),
                                                            axis=1)

In [42]:
df_final

           ^GSPC  ^GSPC_std   ^GSPC_std_u   ^GSPC_std_d
0    4886.683146   0.007797   4924.782197   4848.584096
1    5428.493416   0.015593   5513.139970   5343.846862
2    6030.376819   0.023390   6171.424411   5889.329227
3    6698.993955   0.031186   6907.908919   6490.078992
4    7441.743917   0.038983   7731.841891   7151.645943
5    8266.846171   0.046779   8653.561224   7880.131119
6    9183.431515   0.054576   9684.622213   8682.240817
7   10201.643123   0.062372  10837.940429   9565.345818
8   11332.748793   0.070169  12127.951302  10537.546284
9   12589.265636   0.077965  13570.788380  11607.742892
10  13985.098598   0.085762  15184.482423  12785.714772

In [43]:
df_final.columns

Index(['^GSPC', '^GSPC_std', '^GSPC_std_u', '^GSPC_std_d'], dtype='object')

In [44]:
cols = []

for i in range(len(list_etf)):
    cols.append(df_final.columns[i])
    cols.append(df_final.columns[i+len(list_etf)])
    cols.append(df_final.columns[(i+len(list_etf))*2])
    cols.append(df_final.columns[((i+len(list_etf))*2)+1])

In [45]:
cols

['^GSPC', '^GSPC_std', '^GSPC_std_u', '^GSPC_std_d']

In [46]:
df_final = df_final[cols]

In [47]:
df_final

           ^GSPC  ^GSPC_std   ^GSPC_std_u   ^GSPC_std_d
0    4886.683146   0.007797   4924.782197   4848.584096
1    5428.493416   0.015593   5513.139970   5343.846862
2    6030.376819   0.023390   6171.424411   5889.329227
3    6698.993955   0.031186   6907.908919   6490.078992
4    7441.743917   0.038983   7731.841891   7151.645943
5    8266.846171   0.046779   8653.561224   7880.131119
6    9183.431515   0.054576   9684.622213   8682.240817
7   10201.643123   0.062372  10837.940429   9565.345818
8   11332.748793   0.070169  12127.951302  10537.546284
9   12589.265636   0.077965  13570.788380  11607.742892
10  13985.098598   0.085762  15184.482423  12785.714772

In [48]:
df_final_return_by_active = df_final

In [49]:
count = 0
for i in range(len(list_etf)):
    #i = i*3 # 012,345,678
    df_final_return_by_active[df_final_return_by_active.columns[count]] = df_final_return_by_active[df_final_return_by_active.columns[count]]*dict_invested_amount_by_ticker[list_etf[i]]
    df_final_return_by_active[df_final_return_by_active.columns[count+2]] = df_final_return_by_active[df_final_return_by_active.columns[count+2]]*dict_invested_amount_by_ticker[list_etf[i]]
    df_final_return_by_active[df_final_return_by_active.columns[count+3]] = df_final_return_by_active[df_final_return_by_active.columns[count+3]]*dict_invested_amount_by_ticker[list_etf[i]]
    count = count + 4 # columns of value an std

In [50]:
dict_invested_amount_by_ticker

{'^GSPC': 0.45465393132461246}

In [51]:
df_final_return_by_active

          ^GSPC  ^GSPC_std  ^GSPC_std_u  ^GSPC_std_d
0   2221.749704   0.007797  2239.071587  2204.427821
1   2468.085873   0.015593  2506.570761  2429.600984
2   2741.734528   0.023390  2805.862370  2677.606686
3   3045.723938   0.031186  3140.707947  2950.739928
4   3383.418128   0.038983  3515.312312  3251.523944
5   3758.554111   0.046779  3934.375630  3582.732592
6   4175.283241   0.054576  4403.151563  3947.414920
7   4638.217152   0.062372  4927.512223  4348.922081
8   5152.478791   0.070169  5514.020738  4790.936844
9   5723.759114   0.077965  6170.012288  5277.505940
10  6358.380057   0.085762  6903.684629  5813.075486

In [52]:
list_etf_std = []
count = 0

for i in range(len(list_etf)): # 3 is value plus standard deviatiations
    list_etf_std.append(df_final_return_by_active.columns[count+2])
    list_etf_std.append(df_final_return_by_active.columns[count])    
    list_etf_std.append(df_final_return_by_active.columns[count+3])
    count = count + 4

In [53]:
list_etf_std

['^GSPC_std_u', '^GSPC', '^GSPC_std_d']

In [54]:
df_final_return_by_active = df_final_return_by_active[list_etf_std]

In [55]:
df_final_return_by_active

    ^GSPC_std_u        ^GSPC  ^GSPC_std_d
0   2239.071587  2221.749704  2204.427821
1   2506.570761  2468.085873  2429.600984
2   2805.862370  2741.734528  2677.606686
3   3140.707947  3045.723938  2950.739928
4   3515.312312  3383.418128  3251.523944
5   3934.375630  3758.554111  3582.732592
6   4403.151563  4175.283241  3947.414920
7   4927.512223  4638.217152  4348.922081
8   5514.020738  5152.478791  4790.936844
9   6170.012288  5723.759114  5277.505940
10  6903.684629  6358.380057  5813.075486

In [56]:
df_final_return_by_active_T = df_final_return_by_active.T # for plot and df streamlit
df_final_return_by_active_T

,0,1,2,3,4,5,6,7,8,9,10
^GSPC_std_u,2239.071587,2506.570761,2805.862370,3140.707947,3515.312312,3934.375630,4403.151563,4927.512223,5514.020738,6170.012288,6903.684629
^GSPC,2221.749704,2468.085873,2741.734528,3045.723938,3383.418128,3758.554111,4175.283241,4638.217152,5152.478791,5723.759114,6358.380057
^GSPC_std_d,2204.427821,2429.600984,2677.606686,2950.739928,3251.523944,3582.732592,3947.414920,4348.922081,4790.936844,5277.505940,5813.075486

In [57]:
df_final_return_by_active.iloc[0][1*3-1] # i = len_etf*3

2204.4278205976157

In [58]:
len(df_final_return_by_active)

11

In [59]:
final_sum_return_all = {}
for i in range(years_maintained):
    list_values_u = []
    list_values = []
    list_values_d = []
    count = 0
    for j in range(len(list_etf)):
        list_values_u.append(df_final_return_by_active_T[i][count])
        list_values.append(df_final_return_by_active_T[i][count+1])
        list_values_d.append(df_final_return_by_active_T[i][count+2])
        count = count + 3
        if j == len(list_etf)-1:
            if i+1 <10:
                final_sum_return_all[f'0{i+1}_year'] = [sum(list_values_u), sum(list_values), sum(list_values_d)]
            else:
                final_sum_return_all[f'{i+1}_year'] = [sum(list_values_u), sum(list_values), sum(list_values_d)]

In [60]:
final_sum_return_all

{'01_year': [2239.071586614444, 2221.74970360603, 2204.4278205976157],
 '02_year': [2506.570761176583, 2468.085872736741, 2429.600984296899],
 '03_year': [2805.8623702269397, 2741.7345281135417, 2677.606686000144],
 '04_year': [3140.7079470735634, 3045.72393760134, 2950.739928129116],
 '05_year': [3515.3123121234244, 3383.4181278157835, 3251.523943508142],
 '06_year': [3934.375630260709, 3758.554111324992, 3582.7325923892754],
 '07_year': [4403.15156250184, 4175.283241411763, 3947.4149203216857],
 '08_year': [4927.512223377809, 4638.217152038904, 4348.922080699999],
 '09_year': [5514.020738339987, 5152.47879140142, 4790.936844462853],
 '10_year': [6170.012287956179, 5723.75911381623, 5277.50593967628],
 '11_year': [6903.684628875036, 6358.38005731676, 5813.075485758484]}

In [61]:
df_final_full_std_by_year = pd.DataFrame(final_sum_return_all)

In [62]:
row_names = {0 : 'std_up',
             1 : 'normal',
             2 : 'std_down'}

In [63]:
df_final_full_std_by_year

,01_year,02_year,03_year,04_year,05_year,06_year,07_year,08_year,09_year,10_year,11_year
0,2239.071587,2506.570761,2805.862370,3140.707947,3515.312312,3934.375630,4403.151563,4927.512223,5514.020738,6170.012288,6903.684629
1,2221.749704,2468.085873,2741.734528,3045.723938,3383.418128,3758.554111,4175.283241,4638.217152,5152.478791,5723.759114,6358.380057
2,2204.427821,2429.600984,2677.606686,2950.739928,3251.523944,3582.732592,3947.414920,4348.922081,4790.936844,5277.505940,5813.075486

In [64]:
df_final_full_std_by_year = df_final_full_std_by_year.rename(index = row_names)
df_final_full_std_by_year

,01_year,02_year,03_year,04_year,05_year,06_year,07_year,08_year,09_year,10_year,11_year
std_up,2239.071587,2506.570761,2805.862370,3140.707947,3515.312312,3934.375630,4403.151563,4927.512223,5514.020738,6170.012288,6903.684629
normal,2221.749704,2468.085873,2741.734528,3045.723938,3383.418128,3758.554111,4175.283241,4638.217152,5152.478791,5723.759114,6358.380057
std_down,2204.427821,2429.600984,2677.606686,2950.739928,3251.523944,3582.732592,3947.414920,4348.922081,4790.936844,5277.505940,5813.075486

In [65]:
len(df_final_full_std_by_year)

3

In [66]:
df_final_full_std_by_year.columns[0]

'01_year'

In [67]:
df_final_full_std_by_year_for_plot = df_final_full_std_by_year
df_final_full_std_by_year_for_plot

,01_year,02_year,03_year,04_year,05_year,06_year,07_year,08_year,09_year,10_year,11_year
std_up,2239.071587,2506.570761,2805.862370,3140.707947,3515.312312,3934.375630,4403.151563,4927.512223,5514.020738,6170.012288,6903.684629
normal,2221.749704,2468.085873,2741.734528,3045.723938,3383.418128,3758.554111,4175.283241,4638.217152,5152.478791,5723.759114,6358.380057
std_down,2204.427821,2429.600984,2677.606686,2950.739928,3251.523944,3582.732592,3947.414920,4348.922081,4790.936844,5277.505940,5813.075486

In [68]:
dict_money_to_ticker # money to each ticker

{'^GSPC': 2000}

In [69]:
# add percentage, according the invested_amount
def percentage_diff(df):
    x = return_/initial
    return x

In [70]:
df_final_full_std_by_year[df_final_full_std_by_year.columns[0]]

std_up      2239.071587
normal      2221.749704
std_down    2204.427821
Name: 01_year, dtype: float64

In [71]:
for i in range(len(df_final_full_std_by_year.columns)):
    df_final_full_std_by_year[f'{df_final_full_std_by_year.columns[i]}_%'] = (df_final_full_std_by_year[df_final_full_std_by_year.columns[i]]/invested_amount-1)*100

In [72]:
df_final_full_std_by_year

,01_year,02_year,03_year,04_year,05_year,06_year,07_year,08_year,09_year,10_year,...,02_year_%,03_year_%,04_year_%,05_year_%,06_year_%,07_year_%,08_year_%,09_year_%,10_year_%,11_year_%
std_up,2239.071587,2506.570761,2805.862370,3140.707947,3515.312312,3934.375630,4403.151563,4927.512223,5514.020738,6170.012288,...,25.328538,40.293119,57.035397,75.765616,96.718782,120.157578,146.375611,175.701037,208.500614,245.184231
normal,2221.749704,2468.085873,2741.734528,3045.723938,3383.418128,3758.554111,4175.283241,4638.217152,5152.478791,5723.759114,...,23.404294,37.086726,52.286197,69.170906,87.927706,108.764162,131.910858,157.623940,186.187956,217.919003
std_down,2204.427821,2429.600984,2677.606686,2950.739928,3251.523944,3582.732592,3947.414920,4348.922081,4790.936844,5277.505940,...,21.480049,33.880334,47.536996,62.576197,79.136630,97.370746,117.446104,139.546842,163.875297,190.653774

In [73]:
df_final_full_std_by_year.columns[0+years_maintained]

'01_year_%'

In [74]:
df_final_full_std_by_year.columns
list_cols = []
for i in range(years_maintained):
    list_cols.append(df_final_full_std_by_year.columns[i])
    list_cols.append(df_final_full_std_by_year.columns[i+years_maintained])

In [75]:
df_final_full_std_by_year = df_final_full_std_by_year[list_cols]

In [76]:
df_final_full_std_by_year

,01_year,01_year_%,02_year,02_year_%,03_year,03_year_%,04_year,04_year_%,05_year,05_year_%,...,07_year,07_year_%,08_year,08_year_%,09_year,09_year_%,10_year,10_year_%,11_year,11_year_%
std_up,2239.071587,11.953579,2506.570761,25.328538,2805.862370,40.293119,3140.707947,57.035397,3515.312312,75.765616,...,4403.151563,120.157578,4927.512223,146.375611,5514.020738,175.701037,6170.012288,208.500614,6903.684629,245.184231
normal,2221.749704,11.087485,2468.085873,23.404294,2741.734528,37.086726,3045.723938,52.286197,3383.418128,69.170906,...,4175.283241,108.764162,4638.217152,131.910858,5152.478791,157.623940,5723.759114,186.187956,6358.380057,217.919003
std_down,2204.427821,10.221391,2429.600984,21.480049,2677.606686,33.880334,2950.739928,47.536996,3251.523944,62.576197,...,3947.414920,97.370746,4348.922081,117.446104,4790.936844,139.546842,5277.505940,163.875297,5813.075486,190.653774