# Data aquisition

In [10]:
import pandas as pd
import numpy as np
import yfinance as yf

In [11]:
data = yf.download('CSSPX.MI','2020-01-01','2023-06-01') # CSSPX.MI S&P500

[*********************100%***********************]  1 of 1 completed

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 872 entries, 2020-01-02 to 2023-05-31
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       872 non-null    float64
 1   High       872 non-null    float64
 2   Low        872 non-null    float64
 3   Close      872 non-null    float64
 4   Adj Close  872 non-null    float64
 5   Volume     872 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 47.7 KB

In [13]:
data.sort_values(by = 'Volume') # When Open == 0, Open = Adj Close? Low? Mean of...?

                  Open        High         Low       Close   Adj Close  Volume
Date
2022-09-14  418.059998  418.059998  418.059998  418.059998  418.059998       0
2022-09-19  418.059998  418.059998  418.059998  418.059998  418.059998       0
2022-09-16  418.059998  418.059998  418.059998  418.059998  418.059998       0
2022-09-20  418.059998  418.059998  418.059998  418.059998  418.059998       0
2022-09-15  418.059998  418.059998  418.059998  418.059998  418.059998       0
...                ...         ...         ...         ...         ...     ...
2020-02-28  266.000000  267.640015  259.500000  264.200012  264.200012   74063
2020-03-03  275.480011  279.899994  270.739990  272.820007  272.820007   79711
2020-03-12  233.389999  236.000000  220.089996  225.729996  225.729996   85628
2020-03-11  246.800003  250.250000  243.440002  245.539993  245.539993   90449
2020-03-10  246.639999  253.529999  239.750000  242.240005  242.240005   91864

[872 rows x 6 columns]

In [14]:
data.sort_values(by = 'Date')

                  Open        High         Low       Close   Adj Close  Volume
Date
2020-01-02  287.459991  289.250000  287.459991  287.730011  287.730011   14343
2020-01-03  287.579987  288.820007  286.529999  287.940002  287.940002   14634
2020-01-06  287.010010  287.500000  285.309998  287.440002  287.440002    9319
2020-01-07  288.760010  289.649994  288.029999  289.380005  289.380005   21653
2020-01-08  288.429993  290.750000  288.239990  290.559998  290.559998   21200
...                ...         ...         ...         ...         ...     ...
2023-05-25  401.399994  403.559998  400.739990  401.290009  401.290009    7277
2023-05-26  402.640015  408.399994  401.269989  407.570007  407.570007   12137
2023-05-29  409.440002  409.829987  409.119995  409.809998  409.809998    4923
2023-05-30  410.359985  411.339996  407.920013  408.549988  408.549988    7026
2023-05-31  408.239990  409.790009  406.230011  406.920013  406.920013   18056

[872 rows x 6 columns]

In [ ]:
tickers_list = ['AAPL', 'WMT', 'IBM', 'MU', 'BA', 'AXP']

# Fetch the data
#data_l = yf.download(tickers_list,'2015-1-1')['Adj Close']

# Print first 5 rows of the data
print(data.head())

In [ ]:
# data_l.corr()

In [ ]:
# Bonds, gold, ETFs, SP500, commodity
# Europe, Brazil, India, Japan, Australie, 
# Forex, 
# Growth, value, momentum, quality, size, emerging
# Different sectors

In [15]:
data2 = yf.download('IGLD','2020-01-01','2023-06-01') # GOLD
data2

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2021-03-04  20.049999  20.049999  19.809999  19.826000  18.030201    4500
2021-03-05  19.730000  19.879999  19.709999  19.829000  18.032934   45100
2021-03-08  19.650000  19.715000  19.625000  19.625000  17.847414   53700
2021-03-09  20.030001  20.030001  19.976000  19.976000  18.166620   10700
2021-03-10  20.090000  20.090000  20.090000  20.090000  18.270296       0
...               ...        ...        ...        ...        ...     ...
2023-05-24  19.670000  19.680000  19.500000  19.504999  19.367807   16700
2023-05-25  19.384001  19.430000  19.341999  19.355000  19.218863   10800
2023-05-26  19.280001  19.430000  19.280001  19.430000  19.293337   17600
2023-05-30  19.340000  19.565001  19.340000  19.530001  19.392633   35700
2023-05-31  19.450001  19.629000  19.450001  19.620001  19.482000   11200

[565 rows x 6 columns]

In [ ]:
# BONDS, after

{"data":{"suggestionTitleAccessor":"symbol","suggestionMeta":["symbol","name","exch","type","exchDisp","typeDisp"],"hiConf":false,"items":[]},"meta":{}}

In [ ]:
# chart, visualization

In [ ]:
plt.figure(figsize=(11, 8)) # resizing the plot
train_data['Adj Close'].plot()
plt.title('Closing Price History') # adding a title
plt.xlabel('Date') # x label
plt.ylabel('Closing Price') # y label
plt.show()

In [ ]:
cols = [â€˜Openâ€™, â€˜Closeâ€™, â€˜Volumeâ€™, â€˜Highâ€™, â€˜Lowâ€™]
for i in cols:
    plt.subplots()
    axes = train_data.boxplot(column= [i])
plt.show()

In [ ]:
# feature engineering, add percentage of one day to next day

In [ ]:
train_data['HL_PCT'] = (train_data['High'] - train_data['Low']) / train_data['Low'] * 100.0
train_data['PCT_change'] = (train_data['Close'] - train_data['Open']) / train_data['Open'] * 100.0

In [ ]:
df = train_data[['HL_PCT', 'PCT_change', 'Adj Close','Volume']]

In [9]:
# missing values, refill zero values with value of the before/after day, or not, it may be correct

In [ ]:
data.sort_values(by = 'Volume')

In [ ]:
# scaler, min/max, standard,...

In [ ]:
# sklearn, prophet, times series

In [18]:
# https://towardsdatascience.com/lstm-time-series-forecasting-predicting-stock-prices-using-an-lstm-model-6223e9644a2f


import math
import matplotlib.pyplot as plt
import keras
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import *
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping
#df=pd.read_csv("TSLA.csv")
#print(â€˜Number of rows and columns:â€™, data.shape)
data.head(5)


training_set = data.iloc[:800, 1:2].values
test_set = data.iloc[800:, 1:2].values


# Feature Scaling
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(training_set)
# Creating a data structure with 60 time-steps and 1 output
X_train = []
y_train = []
for i in range(60, 800):
    X_train.append(training_set_scaled[i-60:i, 0])
    y_train.append(training_set_scaled[i, 0])
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
#(740, 60, 1)


model = Sequential()
#Adding the first LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
model.add(Dropout(0.2))
# Adding a second LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))
# Adding a third LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50, return_sequences = True))
model.add(Dropout(0.2))
# Adding a fourth LSTM layer and some Dropout regularisation
model.add(LSTM(units = 50))
model.add(Dropout(0.2))
# Adding the output layer
model.add(Dense(units = 1))

# Compiling the RNN
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
model.fit(X_train, y_train, epochs = 100, batch_size = 32)


# Getting the predicted stock price of 2017
dataset_train = data.iloc[:800, 1:2]
dataset_test = data.iloc[800:, 1:2]
dataset_total = pd.concat((dataset_train, dataset_test), axis = 0)
inputs = dataset_total[len(dataset_total) - len(dataset_test) - 60:].values
inputs = inputs.reshape(-1,1)
inputs = sc.transform(inputs)
X_test = []
for i in range(60, 519):
    X_test.append(inputs[i-60:i, 0])
X_test = np.array(X_test)
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
print(X_test.shape)
# (459, 60, 1)

predicted_stock_price = model.predict(X_test)
predicted_stock_price = sc.inverse_transform(predicted_stock_price)


# Visualising the results
plt.plot(data.loc[800:, 'Date'],dataset_test.values, color = 'red', label = 'Real TESLA Stock Price')
plt.plot(data.loc[800:, 'Date'],predicted_stock_price, color = 'blue', label = 'Predicted TESLA Stock Price')
plt.xticks(np.arange(0,459,50))
plt.title('TESLA Stock Price Prediction')
plt.xlabel('Time')
plt.ylabel('TESLA Stock Price')
plt.legend()
plt.show()

ModuleNotFoundError: No module named 'tensorflow'

In [ ]:
# initial amount: 80% stocks, 20% golg
initial_amount = int(input('The initial amount is: '))

In [ ]:
# streamlit

In [ ]:
st.sidebar.download_button(label="Initial amount", data=csv, file_name='plot_data.csv', mime='text/csv',)
st.title("Asset allocation")
st.image("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb9QnYcWkFiSa3S8x24JVn-9IJE1nt5Dhb-g&usqp=CAU")
st.header("Predictions")
st.dataframe(predict_y)
st.header("Dataset procesado")
st.dataframe(trans_data)
st.header("GrÃ¡fico de evoluciÃ³n")
st.plotly_chart(fig, use_container_width=True)