# Investments predictions with streamlit

In [1]:
import yfinance as yf
import pandas as pd
import datetime
from datetime import date
import financedatabase as fd
import streamlit as st
from sklearn.model_selection import TimeSeriesSplit

#### Adquisition

ETFs select

In [ ]:
etfs = fd.ETFs()
etfs.select()['category'].unique()

In [ ]:
funds = fd.Funds()
funds.select()['category_group'].unique()

---

one by one

In [2]:
start = "2015-01-01"
today = date.today().strftime("%Y-%m-%d")

In [3]:
etf_sp500 = yf.download('CSSPX.MI', start, today) # CSSPX.MI S&P500
etf_sp500_ticker = yf.Ticker("CSSPX.MI")

[*********************100%***********************]  1 of 1 completed

In [11]:
#etf_sp500 = etf_sp500.reset_index()
etf_sp500 = etf_sp500[['Adj Close']]
etf_sp500

             Adj Close
Date
2015-01-02  155.830002
2015-01-05  155.350006
2015-01-06  154.070007
2015-01-07  155.940002
2015-01-08  159.570007
...                ...
2023-06-26  414.559998
2023-06-27  414.059998
2023-06-28  418.179993
2023-06-29  420.309998
2023-06-30  423.820007

[2163 rows x 1 columns]

In [16]:
X_train = etf_sp500[-50:]

In [17]:
X_test = etf_sp500[:2113]

In [25]:
X = etf_sp500[-50]
y = etf_sp500[['Date']]

KeyError: -50

In [19]:
X_train_X = X_train.drop('Adj Close', axis = 1)
X_train_X

Empty DataFrame
Columns: []
Index: [2023-04-21 00:00:00, 2023-04-24 00:00:00, 2023-04-25 00:00:00, 2023-04-26 00:00:00, 2023-04-27 00:00:00, 2023-04-28 00:00:00, 2023-05-02 00:00:00, 2023-05-03 00:00:00, 2023-05-04 00:00:00, 2023-05-05 00:00:00, 2023-05-08 00:00:00, 2023-05-09 00:00:00, 2023-05-10 00:00:00, 2023-05-11 00:00:00, 2023-05-12 00:00:00, 2023-05-15 00:00:00, 2023-05-16 00:00:00, 2023-05-17 00:00:00, 2023-05-18 00:00:00, 2023-05-19 00:00:00, 2023-05-22 00:00:00, 2023-05-23 00:00:00, 2023-05-24 00:00:00, 2023-05-25 00:00:00, 2023-05-26 00:00:00, 2023-05-29 00:00:00, 2023-05-30 00:00:00, 2023-05-31 00:00:00, 2023-06-01 00:00:00, 2023-06-02 00:00:00, 2023-06-05 00:00:00, 2023-06-06 00:00:00, 2023-06-07 00:00:00, 2023-06-08 00:00:00, 2023-06-09 00:00:00, 2023-06-12 00:00:00, 2023-06-13 00:00:00, 2023-06-14 00:00:00, 2023-06-15 00:00:00, 2023-06-16 00:00:00, 2023-06-19 00:00:00, 2023-06-20 00:00:00, 2023-06-21 00:00:00, 2023-06-22 00:00:00, 2023-06-23 00:00:00, 2023-06-26 00:00:00, 2023-06-27 00:00:00, 2023-06-28 00:00:00, 2023-06-29 00:00:00, 2023-06-30 00:00:00]

---

predictions

In [ ]:
tscv = TimeSeriesSplit(n_splits=3, test_size=100)
for i, (train_index, test_index) in enumerate(tscv.split(etf_sp500)):
    print(f"Fold {i}:")
    print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")

In [ ]:
train_index

In [23]:
model = XGBRegressor(objective='reg:squarederror', n_estimators=1000)

In [24]:
model.fit(X, y)

NameError: name 'X' is not defined

In [ ]:
copy https://machinelearningmastery.com/xgboost-for-time-series-forecasting/

In [22]:
# forecast monthly births with xgboost
from numpy import asarray
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
from matplotlib import pyplot

In [ ]:
# transform a time series dataset into a supervised learning dataset
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = DataFrame(data)
    cols = list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
    # put it all together
    agg = concat(cols, axis=1)
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg.values
 

# split a univariate dataset into train/test sets
def train_test_split(data, n_test):
    return data[:-n_test, :], data[-n_test:, :]
 
# fit an xgboost model and make a one step prediction
def xgboost_forecast(train, testX):
    # transform list into array
    train = asarray(train)
    # split into input and output columns
    trainX, trainy = train[:, :-1], train[:, -1]
    # fit model
    model = XGBRegressor(objective='reg:squarederror', n_estimators=1000)
    model.fit(trainX, trainy)
    # make a one-step prediction
    yhat = model.predict(asarray([testX]))
    return yhat[0]
 
# walk-forward validation for univariate data
def walk_forward_validation(data, n_test):
    predictions = list()
    # split dataset
    train, test = train_test_split(data, n_test)
    # seed history with training dataset
    history = [x for x in train]
    # step over each time-step in the test set
    for i in range(len(test)):
        # split test row into input and output columns
        testX, testy = test[i, :-1], test[i, -1]
    # fit model on history and make a prediction
        yhat = xgboost_forecast(history, testX)
    # store forecast in list of predictions
        predictions.append(yhat)
    # add actual observation to history for the next loop
        history.append(test[i])
    # summarize progress
        print('>expected=%.1f, predicted=%.1f' % (testy, yhat))
    # estimate prediction error
        error = mean_absolute_error(test[:, -1], predictions)
    return error, test[:, -1], predictions

# load the dataset
series = read_csv('daily-total-female-births.csv', header=0, index_col=0)
values = series.values

In [ ]:
# transform the time series data into supervised learning

#data = series_to_supervised(values, n_in=6)
# evaluate
mae, y, yhat = walk_forward_validation(etf_sp500, 12)
print('MAE: %.3f' % mae)

In [ ]:
# plot expected vs preducted
pyplot.plot(y, label='Expected')
pyplot.plot(yhat, label='Predicted')
pyplot.legend()
pyplot.show()

---

Data frame with future dates for future predictions

https://stackoverflow.com/questions/59844745/adding-future-dates-to-dataframe

In [ ]:
#data = data.reset_index()

In [ ]:
data.append(pd.DataFrame({'Date': pd.date_range(start=data.date.iloc[-1], periods= 4, freq='d', closed='right')}))

Web scraping news with ticker

In [ ]:
dict_news = msft.news
print(type(dict_news[1]))
print(type(dict_news))
print(dict_news[1].keys())
dict_news[1]

---

## Streamlit

#### title

In [ ]:
st.title('Investments')

In [ ]:
st.write('Simulator for investors')

In [ ]:
st.image('url')

#### columns:

In [ ]:
col1, col2, col3, col4 = st.columns(4)

1.- amount

In [ ]:
with col1:
    initial_amount = st.number_input('Initial amount', 0, 50000)
    
'''
if amount < 1000
elif amount < 5000
elif amount < 10000
elif amount < 25000
elif amount < 50000
elif amount < 100000

amount + 10000 = x etfs
amount + 20000 = x etfs +1

'''

2.- passive/active

In [ ]:
with col2:
    type_investment = st.selectbox('Type of investment', ['Passive', 'Active'])

3.- if active: by risk or age

In [ ]:
with col3:
    if type_investment == 'Active':
        risk_investment = st.selectbox('Type of risk', ['Conservative', 'Moderate', 'Agressive'])

4.- language

In [ ]:
with col4:
    st.selectbox('Language', ['English', 'EspaÃ±ol'])

#### sidebar time of maintenance 0 to 25 years

In [ ]:
years_maintenance = st.slider('Select years of investment', 0, 25)

#### tabs:

In [ ]:
tab1, tab2, tab3, tab4, tab5 = st.tabs(['Chart predictions', 'Data of predictions',
                                        'Data of actives', 'Resumne of actives', 'Global data'])

chart

In [ ]:
with tab1:
    st.header('Chart with the preditions')
    st.line_chart(st_chart)

dataframe final amounts

In [ ]:
with tab1:
    st.header('Investment predictions information')
    st.table(data_predictions)

dataframe instruments

In [ ]:
with tab2:
    st.header('Investment asset information')
    st.dataframe(data_investments)

resume

In [ ]:
with tab1:
    st.header('Investments asset information')
    st.write(information_investments)

global data of interest

In [ ]:
with tab1:
    st.header('Global information')
    st.write(st_chart)

#### Disclaimer

In [ ]:
st.write('Disclaimer')